.motorcycles-container {
  align-items: center;
  gap: 3rem;
  justify-content: space-between;
  width: 100%;
}

.pagination-btn {
  background-color: #98c10f;
  width: 76px;
  border-bottom-right-radius: 40px;
  padding: 8px 0;
}

@media only screen and (max-width: 768px) {
  .cars-container {
    gap: 0;
    justify-content: flex-start;
  }
}
